<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e5637f">  <td>21/08/31 22:05:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BEI_test_cases.setExtent()[pri:0, instance:com.qa.testcases.BEI_test_cases@3c9d0b9d]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1704629915</td>   <td></td> </tr>
<tr bgcolor="e5637f">  <td>21/08/31 22:05:22</td>   <td>400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BEI_test_cases.setUp()[pri:0, instance:com.qa.testcases.BEI_test_cases@3c9d0b9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1704629915</td>   <td></td> </tr>
<tr bgcolor="e5637f">  <td>21/08/31 22:05:34</td>   <td>12447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BEI_test_cases.bei_new_features()[pri:6, instance:com.qa.testcases.BEI_test_cases@3c9d0b9d]">bei_new_features</td> 
  <td>main@1704629915</td>   <td></td> </tr>
</table>
